.topnav {
  background-color: #630031;
  overflow: hidden;
}

.topnav .link {
  background-color: #630031;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a {
  color: white;
  text-decoration: none;
}

.topnav .link a:hover {
  color: #cf4420;
}