.challenge {
    border: 1px;
    border-style: solid;
    border-radius: 1em;
    margin: 1em;
    padding: 0.5em;
    width: 20em;
}

p, h5, strong {
    color: black;
}

.challenge-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}