h1 {
    font-size: 40px;
    left: 100px;
    text-align: left;
}

.button {
    font-size: 40px;
}

div.area {
    margin: auto 15px;
    width: 200px;
    height: 100px;
    float: left;
}

input {
    vertical-align: top;
    text-align: left;
    height: 40px;
}

.review {
    font-size: 20px;
    width: 1000px;